{% extends 'base.html' %}

{% load webpack_static from webpack_loader %}
{% load wagtailimages_tags %}
{% load wagtailcore_tags %}



{% block main %}
  <div class="page-title-area">
    <div class="container">
      <div class="page-title-content">
        <h2>{{ category.title }}</h2>
        <ul>
          <li>
            <a href="{% url 'home' %}"><i class="icofont-home"></i> Home</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <section class="default-news-area ptb-40">
    <div class="container">
      <div class="row">
        <!-- Left column (main + two smaller articles) -->
        <div class="col-lg-6 col-md-12">
          {% with main_article=articles.first %}
            {% if main_article %}
              <div class="single-default-news">
                {% if main_article.cover %}
                  {% image main_article.cover fill-800x400 as cover_img %}
                  <img src="{{ cover_img.url }}" alt="{{ main_article.title }}" />
                {% else %}
                  <img src="{% webpack_static 'images/placeholders/3.jpg' %}"
                       alt="placeholder" />
                {% endif %}
                <div class="news-content">
                  <ul>
                    <li>
                      <i class="icofont-user-suited"></i> by <a href="#">Admin</a>
                    </li>
                    <li>
                      <i class="icofont-calendar"></i> {{ main_article.first_published_at|date:"F d, Y" }}
                    </li>
                  </ul>
                  <h3>
                    <a href="{{ main_article.url }}">{{ main_article.title }}</a>
                  </h3>
                </div>
                <div class="tags">
                  <a href="#">{{ category.title }}</a>
                </div>
              </div>
            {% endif %}
          {% endwith %}
          <!-- 2 smaller articles -->
          <div class="row">
            {% for article in articles|slice:"1:3" %}
              <div class="col-lg-6 col-md-6">
                <div class="single-default-inner-news">
                  <div class="news-image">
                    {% if article.cover %}
                      {% image article.cover fill-400x250 as cover_img %}
                      <img src="{{ cover_img.url }}" alt="{{ article.title }}" />
                    {% else %}
                      <img src="{% webpack_static 'images/placeholders/3.jpg' %}"
                           alt="placeholder" />
                    {% endif %}
                  </div>
                  <div class="news-content">
                    <h3>
                      <a href="{{ article.url }}">{{ article.title }}</a>
                    </h3>
                    <span><i class="icofont-calendar"></i> {{ article.first_published_at|date:"F d, Y" }}</span>
                  </div>
                  <a href="{{ article.url }}" class="link-overlay"></a>
                  <div class="tags bg-2">
                    <a href="#">{{ category.title }}</a>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
        <!-- Middle column (ads + extra) -->
        <div class="col-lg-3 col-md-12">
          <div class="small-image-ads">
            <a href="#">
              <img src="{% webpack_static 'images/placeholders/1-ads.png' %}" alt="Ad" />
            </a>
          </div>
          {% for article in articles|slice:"0:5" %}
            <div class="single-default-inner-news">
              <div class="news-image">
                {% if article.cover %}
                  {% image article.cover fill-400x250 as cover_img %}
                  <img src="{{ cover_img.url }}" alt="{{ article.title }}" />
                {% endif %}
              </div>
              <div class="news-content">
                <h3>
                  <a href="{{ article.url }}">{{ article.title }}</a>
                </h3>
                <span><i class="icofont-calendar"></i> {{ article.first_published_at|date:"F d, Y" }}</span>
              </div>
              <a href="{{ article.url }}" class="link-overlay"></a>
              <div class="tags bg-4">
                <a href="#">{{ category.title }}</a>
              </div>
            </div>
          {% endfor %}
        </div>
        <!-- Right column (videos) -->
        <div class="col-lg-3 col-md-12">
          {% if videos %}
          <div class="default-video-news">
            <h3 class="title">Videos</h3>
            {% for video in videos %}
              <div class="single-video-news">
                <div class="image">
                 {% if video.thumbnail %}
                      {% image video.thumbnail max-400x250 as thumb %}
                      <img src="{{ thumb.url }}" alt="{{ video.title }}">
                  {% endif %}
                  <a href="{{ video.video_url }}" class="popup-youtube"><i class="icofont-video-cam"></i></a>
                </div>
                <div class="content">
                  <h3>
                    <a href="{{ video.video_url }}">{{ video.title }}</a>
                  </h3>
                </div>
              </div>
            {% endfor %}
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </section>

  {% if articles %}
  <section class="more-news-area pt-5">
    <div class="container">
      <div class="more-news-inner">
        <div class="section-title">
          <h2>More News</h2>
        </div>
        <div class="row">
          <div class="more-news-slides owl-carousel owl-theme">
            {% for item in articles %}
              <div class="col-lg-12 col-md-12">
                <div class="single-more-news">
                  {% if item.cover %}
                    {% image item.cover fill-800x400 as cover_img %}
                    <img src="{{ cover_img.url }}" alt="{{ item.title }}" />
                  {% else %}
                    <img src="{% webpack_static 'images/placeholders/3.jpg' %}"
                         alt="placeholder" />
                  {% endif %}
                  <div class="news-content">
                    <ul>
                      <li>
                        <i class="icofont-user-suited"></i> by
                        {% if item.authors.first %}
                          <a href="">{{ item.authors.first.name }}</a>
                        {% else %}
                          <a href="">Admin</a>
                        {% endif %}
                      </li>
                      <li>
                        <i class="icofont-calendar"></i>
                        {{ item.last_published_at|date:'F d, Y' }}
                      </li>
                    </ul>
                    <h3>
                      <a href="{{ item.url }}">{{ item.title }}</a>
                    </h3>
                  </div>
                  {% if item.category %}
                    <div class="tags bg-2">
                      <a href="{{ item.category.get_absolute_url }}">{{ item.category|title }}</a>
                    </div>
                  {% endif %}
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </section>
  {% endif %}
{% endblock %}
